<body>
  <header>
    <h1>🕶️ Moe's Summer in a Bottle</h1>
    <p>☀️ Agile • 🧠 Azure • 🛠️ Real-World Coding</p>
  </header>

  <section class="spaced-section">
    <h2 class="heading">🏡Customer Experience (CX) Team</h2>
    <p class="cx-team">
      Kelly | Anisha | Alpesh | Anupam | Jordan | Sara | Sean | James | Anthony
      | Jim | Michael | Raveen | Sailatha | Sivaram
    </p>
    <div class="content-card-cx-team">
      <p>
        This summer, I had the opportunity to work with the Customer Experience
        product team, specifically within the
        <span class="highlight-purple">Customer Portal Vertical</span>. This team
        is responsible for the Customer Portal used by homebuyers, focusing on
        delivering features such as service requests, resources, messaging, and
        home updates.
      </p>
      <p>
        The <span class="highlight-purple">Customer Portal Vertical</span> is a
        cross-functional group made up of an
        <strong
          >IT Director, IT Senior Manager, Product Owner, Scrum Master,
          Analysts, Developers, and QA professionals</strong
        >
        . We collaborated closely throughout each sprint to deliver incremental
        improvements to the platform.
      </p>
      <p>
        During my time with the team, we focused on a major feature called
        <strong>two-way communication</strong>, which enhances communication
        between our
        <span class="highlight-pink">Sales, Construction, and Homebuyers</span
        >. This functionality allows homebuyers to respond directly to updates and messages from the sales or construction teams. It enables seamless two-way communication, which is essential for delivering a great customer experience and keeping everyone informed.
      </p>
    </div>
  </section>

  <section class="spaced-section">
    <h2 class="heading">☀️ My Summer Contributions</h2>
    <p>
      As my first software engineering internship, this summer was packed with
      learning, growth, and hands-on experience. I had the chance to contribute
      to real-world projects, collaborate with experienced developers, and see
      how code goes from concept to production.
    </p>
    <div class="card-grid-contribution content-card-contributions">
      <div class="card-contribution">
        <h3>🔄 Two-Way Communication</h3>
        <p>
          This summer, I contributed to enhancing the two-way communication
          features on the Customer Portal website. I focused on resolving bugs
          tied to user stories, with most of my work centered around improving
          functionality and refining the user experience.
        </p>
      </div>
      <div class="card-contribution">
        <h3>📄 Dev Environment Docs</h3>
        <p>
          I also contributed to updating the technical documentation for our Dev
          Local Environment Setup. This documentation plays a critical role in
          onboarding developers, as it outlines the first steps for configuring
          a local development environment and gaining access to the team’s
          repositories essential for working on both the Customer Portal and the
          backend systems that power the website.
        </p>
        <a class="dev-doc-anchor" href="https://pultevsts.visualstudio.com/Customer%20Experience%20(CX)/_wiki/wikis/Customer-Experience-(CX).wiki/5096/Dev-Local-Environment-Setup" target="_blank">
          Dev Doc
        </a>
      </div>
    </div>
  </section>

  <section class="spaced-section">
    <h2 class="heading">🌊 Agile Breezes: Fast, Flexible, Fresh</h2>
    <p class="paragraph-spacing">
      This summer, I had the opportunity to dive into the Agile process from the
      very beginning. I gained a clear understanding of how a product evolves
      through the Software Development Life Cycle (SDLC).
    </p>

    <div class="agile-card-container">
      @for (agileItem of agileEvents; track agileItem.id) {
      <app-agile-section [event]="agileItem"></app-agile-section>
      }
    </div>
  </section>

  <section class="spaced-section">
    <h2 class="heading">☁️ Azure Skies & Summer Tools</h2>
    <p class="paragraph-spacing">
      We used Azure Boards to collaborate and track tasks, Azure Repos for version control, and Pipelines for continuous integration and delivery (CI/CD).
    </p>
    <div>
      @for (azureItem of azureStages; track azureItem.id) {
      <app-azure-section [stage]="azureItem"></app-azure-section>
      }
    </div>
  </section>

  <section class="spaced-section">
    <h2 class="heading">🎓💫The Final Twist of the Cap</h2>
    <p class="paragraph-spacing">
      As my internship wraps up, I want to thank the people who made this summer
      amazing.
    </p>
    <div class="goodbye-container">
      <div class="left-container">
        <img src="cxteampic.jpg" alt="CX Team" class="hover-image">
        <div class="text-content">Humble, Hungry & Smart.</div>
      </div>
      <div class="right-container">
        <div class="message">
          <p>
            <strong>To the HR Team</strong> – Thank you for giving us the
            opportunity to explore and learn across departments.
          </p>
          <p>
            <strong>To the Morning Crew</strong> – Thank you for the daily
            chats! I truly enjoyed our conversations and definitely learned a
            lot about the culture from you all. You made every morning feel
            welcoming and insightful.
          </p>
          <p>
            <strong>To the Customer Portal Team</strong> – Thank you for your
            support and collaboration throughout the summer.
          </p>
          <p>
            <strong>To Shelly, Anthony, and Anupam</strong> – Thank you for your
            guidance and mentorship. You were incredibly welcoming and always
            took the time to answer every question that popped into my head.
          </p>
          <p>
            And finally, thank you to <strong>PulteGroup</strong> for the warm
            welcome.
          </p>

          <div class="signature">— Moe Holder</div>
        </div>
      </div>
    </div>
  </section>
</body>
